huggingface-hub
s2sphere
pymilvus
datasets
transformers 
torch 
earthengine-api 
pillow
reverse_geocoder
pandas
numpy
tdqm
threading
shutil
zipfile
os
queue
threadpoolexecutor
hfapi
milvusclient
datatype
cl
queue